@{
    ViewData["Title"] = "Eliminar";
}

<h4>Eliminar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller= ViewBag.controlador asp-action="Eliminar">
            <div class="form-group">
                <p>¿Está seguro que desea eliminar el @ViewBag.controlador ?</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>