@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Aqui va una intro para la inmobiliaria.</p>
    <p>Ademas hacia la izq debe estar la imagen de presentacion</p>
    <p>luego a la derecha unos informes relevantes, Ej: Inmuebles registrados, Inmuebles disponibles, contratos pendientes, fechas de pagos, etc</p>
</div>